<mdb-card>
    <!--Card image-->
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>{{card.titolo}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> {{card.body}}
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
      <br>
      <app-ratings length="5" starsSize="small" (value)="setRating($event)"></app-ratings>
    </mdb-card-body>
</mdb-card>